.places {
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

@media (max-width: 800px) {
  .places {
    margin-bottom: 90px;
    gap: 72px;
  }
}

@media (max-width: 426px) {
  .places {
    margin-bottom: 66px;
    max-width: 426px;
    gap: 50px;
  }
}