.header {
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  max-height: 52px;
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media (max-width: 426px) {
  .header {
    max-height: 42px;
  }
}