.root__content {
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .root__content {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 800px) {
  .root__content {
    max-width: calc(100% - 48px);
  }
}

@media (max-width: 426px) {
  .root__content {
    max-width: calc(100% - 32px);
  }
}