.root__content {
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .root__content {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .root__content {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .root__content {
    max-width: 288px;
  }
}