.lead__image {
  width: 984px;
  height: 615px;
}

@media (max-width: 1024px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }
}

@media (max-width: 950px) {
  .lead__image {
    width: 100%;
    height: auto;
  }
}

@media (width: 768px) {
  .lead__image {
    height: 480px;
  }
}

@media (width: 320px) {
  .lead__image {
    height: 200px;
  }
}

