.cover {
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media (max-width: 426px) {
  .cover {
    margin-bottom: 64px;
  }
}